.urls{
    max-height: 500px;
    overflow: scroll;
    background-color: white;
    margin: 20px;
    box-sizing: border-box;
    border: 1px solid pink;
    &__list{
        padding: 20px;
        border-bottom: 1px solid pink;
    }
        
}