// Fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Vollkorn&family=Ranchers&display=swap');

// General layout 
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0px;
}
h1, h2, h3, h4, h5 {
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}
h1{
  font-size: 48px;line-height: 83px;
}
h3{
  font-size: 32px;
  line-height: 38px;
}
a{
  color: pink;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #FBF1A9;
  color: #F67C6D; 
  min-height: 100vh;
}
header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 10px 24px;
  .logo{
    font-family: 'Ranchers', cursive;
  }
  .github{
    img{
    width: 24px;
    height: 24px;
  }
}
}
main{
  display: grid;
  place-items: center;
}
section{
  width: 400px;
}
footer{
  text-align: center;
  height: 30px;
}

// Form
.form__group{
  display: grid;
  grid-template-columns: 1fr .6fr;
  column-gap: 18px;
  row-gap: 14px;
  justify-content: space-between;
  margin-bottom: 18px;;
}
.label__txt{
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
.input__url{
  box-sizing: border-box;
  border: 1px solid pink;
  border-radius: 0px;
  display: block;
  width: 100%;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding: 18px 24px;
  &:focus{
    border-radius: 0px;
  }
  &::placeholder{
    color: rgba(0, 0, 0, 0.87);
    opacity: 0.3;
  }
}

// Buttons
.btn{
  border: 1px solid #F67C6D;
  background-color:#F67C6D;
  color: #fff;
  display: inline-block;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  &__primary{
    padding: 20px 45px;
    font-size: 13px;
    width: 100%;
  }

  &:hover{
    background-color: #fff;
    color: #F67C6D;
    border: 1px solid #F67C6D;
  }
}

//list of elements


